body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/************************************************************************/
.container {
  font-family: 'Prompt', sans-serif;
}
.con {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2em;
  text-align: right;
}
.bodycard {
  display: flex;
  flex-direction: column;
  justify-content: right;
}
.subtext {
  text-align: right;
}
.row {
  height: 13em;
}
.cardbutton {
  position: absolute; 
  align-items: flex-end;
}
.person {
  background: #eeeeee;
  width: 17rem;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 0.3rem;
  text-align: center;
  transition: all 0.3s linear;
}
.person:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}
.person img {
  border-radius: 50%;
  border: 0.1rem solid teal;
  height: 100px;
  width: 100px;
}
.person h4 {
  text-transform: capitalize;
  margin: 0.5rem 0;
  letter-spacing: 0.15rem;
  color: teal;
  font-size: 1.8em;
}

.person h3 {
  font-size: 1.3em;
}

@media screen and (min-width: 768px) {
  .person-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .person-list {
    grid-template-columns: repeat(3, 1fr);
  }
}